{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="edit-profile header myForm">
        <h3 style="text-align: center; margin-bottom: 32px;">Edit your profile</h3>
        <form action="/edit-profile" method="POST">
            {{ form.hidden_tag() }}
            
            {% if form.firstName.errors %}
              {{ form.firstName(class="form-control is-invalid",placeholder='First Name') }}
              <div class="invalid-feedback">
                {% for error in form.firstName.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.firstName(class="form-control",placeholder='First Name',value=uFirstname) }}
            {% endif %}
    
            {% if form.lastName.errors %}
            {{ form.lastName(class="form-control is-invalid",placeholder='Last Name') }}
              <div class="invalid-feedback">
                {% for error in form.lastName.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.lastName(class="form-control",placeholder='Last Name',value=uLastname) }}
            {% endif %}
    
            
             {{ form.email(class="form-control",placeholder='Email',disabled="disabled",value=uEmail) }}
            
    
            {{ form.gender(class="form-control",disabled="disabled",value=uSex) }}
    
    
            {% if form.age.errors %}
              {{ form.age(class="form-control is-invalid",placeholder='Age') }}
              <div class="invalid-feedback">
                {% for error in form.age.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
             {{ form.age(class="form-control",placeholder='Age',value=uAge) }}
            {% endif %}
    
            {{ form.acc_type(class="form-control",disabled="disabled",value=uAccType) }}
    
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid",placeholder='Password') }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
            {{ form.password(class="form-control",placeholder='Password') }}
            {% endif %}
            
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid",placeholder='Confirm Password') }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              </div>
            {% else %}
            {{ form.confirm_password(class="form-control",placeholder='Confirm Password') }}
            {% endif %}
            
            {{ form.submit(class="form-control mybtn",value='Update') }}
        </form>
    </div>
</div>

{% endblock content %}