<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Doctor Bot</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav-icon.png') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Teko|Damion|Chivo|Roboto:400,700|Abel|Noto+Sans+KR&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Doctor <span>Bot</span></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if session['email'] %}
                    <li class="search-header">
                        <form action="/search-disease" class="myForm" method="POST">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" name="diseaseName" placeholder="Search for a disease" value="">
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             {% if session['accType'] == "doctor" %}Dr.{% endif %} {{session['firstname']}} {{session['lastname']}}
                            <i class='fa fa-caret-down'></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/edit-profile">Edit Profile</a>
                          {% if session['accType'] == "doctor" %} <a class="dropdown-item" href="/add-disease">Add Disease</a> {% endif %}
                          {% if session['accType'] == "patient" %}<a class="dropdown-item" href="/doctor-contacts">Contact Doctors</a>{% endif %}
                          <a class="dropdown-item" href="/map">Near Hospitals</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Join Now</a></li>
                    {% endif %}
                </ul>
                <!-- <form action="/search-disease" class="myForm" method="POST">
                    <input type="text" class="form-control" name="search-disease" placeholder="Search for a disease" value="">
                </form> -->
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>

        <div class="container error-alerts">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{message}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block content %} {% endblock %}


    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.rwdImageMaps.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
</body>
</html>
